<!-- 
       
    Gracefully liberated from: https://gist.github.com/sharu725/b8bc09d8a6bb57c637df0b5ae958c155

     After implementing this contact form make sure
     1. you have defined "email: youremail@email.com" in _config.yml file.
     2. you verify your form on formspree.io.
-->

<form action="https://formspree.io/chief@blueteam.ninja" method="POST">
    <input type="text" name="name" placeholder="Name">
    <input type="email" name="_replyto" placeholder="Email">
    <input type="submit" value="Send">
</form>

<style>
